<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/members/logout" method="get">
        <button type="submit" class="btn btn-primary">로그아웃</button>
    </form><br>
    <form role="form" action="/members/editForm" method="get">
        <a href="#" th:href="@{/members/{id}/edit (id=${member.id})}" button type="submit" class="btn btn-primary">수정</a>
    </form><br>
    <form role="form" action="/members/resign" method="get">
        <button type="submit" class="btn btn-primary">탈퇴</button>
    </form><br>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
