<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
</head>
</head>
<body>
<div class="search-position">
    <div class="card-body mt-5 mx-5">
        <div class="d-flex justify-content-center">
            <img src="/logo.png">
        </div>
    </div>
    <div class="input-group mt-5">
        <label for="playerName"></label>
        <input type="playerName" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" id="playerName"/>
        <button type="button" class="btn btn-danger" onclick="searchPlayer()">검색</button>
    </div>
</div>
<script>
    function searchPlayer() {
        var playerName = document.getElementById("playerName").value;
        if (playerName) {
            window.location.href = '/playerList?name=' + playerName;
        } else {
            // playerName이 비어있을 경우 예외 처리 또는 경고 메시지를 추가할 수 있습니다.
            alert("Please enter a player name.");
        }
    }
</script>
</body>
</html>